﻿@page
@model MenuMakanan.Pages.Food.CreateModel
@{
}
<form method="post">
    <label class="col-form-label" asp-for="NewFood.NamaMakanan"></label>
    <input type="text" asp-for="NewFood.NamaMakanan" class="form-control" />
    <span asp-validation-for="NewFood.NamaMakanan" class="text-danger"></span>
    <br />
    <label class="col-form-label" asp-for="NewFood.JumlahMakanan"></label>
    <input type="text" asp-for="NewFood.JumlahMakanan" class="form-control" />
    <span asp-validation-for="NewFood.JumlahMakanan" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
