﻿<template>
    <div>
        <div v-if="isAddFood === false">
            <button class="btn btn-primary" type="button" @click="addNewEmployee">Add New Food</button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Food Name</th>
                        <th>Food Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(listFood,index) in foods" :key="index">
                        <td>{{listFood.namaMakanan}}</td>
                        <td>{{listFood.jumlahMakanan}}</td>
                        <td>
                            <a :href="'/food/update?makananId='+listfood.makananId" class="btn btn-danger">Update</a>
                            <button class="btn btn-danger" @click="deleteFood(listFood)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="page in totalPage">
                        <li class="page-item">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <div v-if="isAddFood === true">
                <validation-observer ref="observer" v-slot="{validate,valid}">
                    <form method="post" @submit.prevent="insertEmployee">
                        <label class="col-form-label">Name Makanan</label>
                        <validation-provider name="Name" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newFood.namaMakanan" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />

                        <label class="col-form-label">Jumlah Makanan</label>
                        <validation-provider name="Email" rules="required" v-slot="{errors}">
                            <input class="form-control" type="text" v-model="newFood.jumlahMakanan" />
                            <span class="text-danger font-italic">{{errors[0]}}</span>
                        </validation-provider>
                        <br />
                        <button class="btn btn-primary" type="submit">
                            <fa-icon icon="check"></fa-icon>
                            Submit
                        </button>
                    </form>
                </validation-observer>
            </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { FoodService, FoodModel } from '../service/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';


    @Component({
        created: async function (this: ListFood) {
            await this.getFoods();
        }
})
    export default class ListFood extends Vue {
        service: FoodService = new FoodService();

        foods: FoodModel[] = [];

        isAddFood = false;

        newFood: FoodModel = {
            makananId : 0,
            namaMakanan: '',
            jumlahMakanan: 0
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 5;
        totalData = 1;
        totalPage = 1;

        async getFoods(): Promise<void> {
            this.foods = await this.service.get();
        }
        //async getFoods(): Promise<void> {
        //    const urlParams = new URLSearchParams(window.location.search);
        //    const makananId = urlParams.get('makananId')?.valueOf();
        //    this.foods = await this.service.specificFoodList(makananId);
        //    this.newFood.makananId = makananId;
        //}

        //    async insertListFood(): Promise < void> {
        //        const valid = (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

        //    if (valid == false) {
        //        return;
        //    }

        //    await this.service.insertEmployeeApp(this.newEmployeeApp);

        //    swal.fire({
        //        title: 'Yeayy!',
        //        icon: 'success',
        //        text: 'Success insert new data employee.'
        //    });

        //    await this.getEmployeeApps();
        //    this.isAddEmployee = false;
        //}
        //    }
        //}

        async insertFood(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }

            await this.service.insertFood(this.newFood);
            

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            await this.getFoods();
            this.isAddFood = false;
        }

        async deleteFood(foods): Promise<void> {
            await this.service.deleteFood(foods)
            await this.getFoods();

            swal.fire({
                title: '~~yeayy~~',
                icon: 'success',
                text: 'Success delete employee ' 
            })
        }
</script>
